.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: rgb(220, 40, 1);
  font-size: 13px;
  border-bottom: 0.5px solid rgb(220, 40, 1);
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid grey;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(180, 180, 180);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(220, 40, 1);
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: rgb(220, 40, 1);
}

.login {
  background-color: rgb(1, 110, 110);
  margin-right: 15px;
  opacity: 80%;
}

.login:hover {
  opacity: 100%;
}

.register {
  background-color: rgb(105, 90, 200);
  opacity: 80%;
}

.register:hover {
  opacity: 100%;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}
